body {
    background-color: white;
    font-family: "Roboto", sans-serif;
}

#title {
    color: black;
	margin: 50px auto auto;
	/*text-align: center;*/
}

.button {
    border: none;
    background-color: gray;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#pdf {
	margin: 100px auto;
	/*margin-bottom: */
    width: 300px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    text-align: center;
    background-color: gray;
    color: white;
    border: 1px solid black;
}

#download {
    text-align: center;
}