#h1 {
    text-align: center;
    border-bottom: 5px solid black;
    margin-top: 5px;
    margin-bottom: 50px;
}

#upload {
    margin: auto;
    width: 500px;
}

#upload_header {
    padding-left: 10px;
}

#select {
    margin: auto;
    text-align: center;
    width: 500px;
    padding: 50px 10px;
    border: 2px solid black;
}

#options {
    width: 500px;
    margin: auto;
    padding: 50px 10px;
}

.darkmode {
    align: 30px !important;
    position: absolute;

}